body {
  a,
  button,
  input[type="button"],
  [type="submit"] {
    position: relative;
    cursor: pointer;
    @include transition();
    font-family: $heading_font;
    // font-size: 12px;
    &.button,
    &.tribe-events-read-more {
      padding: 10px 10px;
      min-width: 145px;
      text-align: center;
      display: inline-block;
    }

    //   &.button-black {
    //     font-weight: 300;
    //     background: $black;
    //     border: 1px solid $black;
    //     color: #fff;
    //     &:hover {
    //       background: transparent;
    //       color: $black;
    //     }
    //   }

    //   &.button-black-alt,
    //   &.tribe-events-read-more {
    //     background: transparent;
    //     border: 1px solid $black;
    //     color: $black;
    //     &:hover {
    //       background: $black;
    //       color: #fff;
    //     }
    //   }

    //   &.button-accent_color {
    //     background: $accent_color;
    //     border: 1px solid $accent_color;
    //     color: #fff;
    //     &:hover {
    //       background: transparent;
    //       color: $accent_color;
    //     }
    //   }

    //   &.button-accent_color-alt {
    //     background: transparent;
    //     border: 1px solid $accent_color;
    //     color: $accent_color;
    //     &:hover {
    //       background: $accent_color;
    //       color: #fff;
    //     }
    //   }

    //   &.cta-booking {
    //     box-shadow: 0 15px 15px 0 rgba(125, 125, 125, 0.52);
    //     background-color: $accent_color;
    //     padding: 18px 36px;
    //     font-weight: bold;
    //     &:hover {
    //       background-color: #e17f3f;
    //     }
    //   }

    //   &.cta-pale {
    //     background: $pale;
    //     border: 2px solid $pale;
    //     color: #fff;
    //     // padding: 29px 65px;
    //     // padding: 20px 40px;

    //     // padding: 20px 0;
    //     // width: 208px;
    //     padding: 16px 0;
    //     width: 144px;
    //     text-align: center;
    //     &:hover {
    //       background: $accent_color;
    //       color: #fff;
    //       border-color: $accent_color;
    //     }
    //   }

    //   &.cta-black-alt {
    //     background: transparent;
    //     border: 2px solid $black;
    //     color: $black;
    //     font-weight: bold;
    //     // padding: 29px 65px;
    //     // padding: 20px 40px;

    //     // padding: 20px 0;
    //     // width: 208px;
    //     padding: 16px 0;
    //     width: 144px;
    //     text-align: center;
    //     &:hover {
    //       background: $black;

    //       color: #fff;
    //     }
    //   }

    //   &.banner-black-alt {
    //     background: transparent;
    //     border: 2px solid $black;
    //     color: $black;
    //     font-weight: bold;
    //     padding: 15px 0;
    //     width: 207px;
    //     text-align: center;
    //     &:hover {
    //       background: $black;

    //       color: #fff;
    //     }
    //   }
    // }
  }
}
