/**
 * partials/footer
 * ---
 */

.footer {
  //   background-color: $light-grey;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid $black;
  a {
    color: inherit;
    letter-spacing: 3px;
  }
  .footer__wrapper {
    max-width: $wrapper-width;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: center;

      .rel-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        // justify-content: flex-start;
        align-items: center;
      }

      .commings-soon-popup {
        @include transition();
        opacity: 0;
        position: absolute;
        width: 300px;
        background: #fff;
        padding: 10px;
        cursor: default;
        .content {
          font-size: 15px;
        }
      }

      a {
        position: relative;
        z-index: 1;
        @include transition();
        &:not(.online) {
          opacity: 0.1;
          // pointer-events: none;
          cursor: default;
          &:hover {
            opacity: 0;
            + .commings-soon-popup {
              opacity: 1;
            }
          }
        }
        &:hover {
          color: $accent-color;
          opacity: 0.7;
        }
      }

      @include divi {
        // flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
