// /**
//  * partials/nav
//  * ---
//  * Menus
//  */

// .nav {
//   padding-top: 20px;
//   // position: fixed;
//   z-index: 5;
//   top: 0;
//   @include tablet {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
//   .menu {
//     display: inline-block;
//   }
//   ul {
//     display: flex;
//     // padding-left: 0;
//     flex-direction: column;
//     padding: 25px;
//     background: $brown;

//     @include tablet {
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//     }

//     li.page_item,
//     li.menu-item {
//       display: inline-block;
//       @include min-tablet {
//         margin-right: 40px;
//       }
//       @include tablet {
//         // margin-bottom: 20px;
//         margin-bottom: 15px;
//       }
//       a {
//         @include transition();
//         font-size: $body;
//         padding-bottom: 7px;
//         color: #fff;
//         opacity: 0.3;
//       }

//       &.current_page_item {
//         a {
//           border-bottom: solid 2px #9b7e2f;
//         }
//       }
//     }
//     li.no-click {
//       a {
//         pointer-events: none;
//         opacity: 0.16;
//       }
//     }
//     .li.see-examples {
//       a {
//         // opacity: 0.16;
//       }
//     }
//     li.online {
//       a {
//         opacity: 0.68;
//         &:hover {
//           opacity: 1;
//         }
//       }
//     }
//   }
// }

// nav.active {
// }

/**
 * partials/nav
 * ---
 * Menus
 */

.nav {
  padding-top: 20px;
  // position: fixed;
  z-index: 25;
  top: 0;
  @include macbook {
    background: $brown;
  }
  .menu {
    display: inline-block;
  }
  ul {
    min-width: 165px;
    padding: 0;
    @include transition();
    display: flex;
    // padding-left: 0;
    flex-direction: column;
    // padding: 25px;
    // padding: 10px 50px;
    background: $white;
    border: 2px solid $brown;
    @include macbook {
      background: $brown;
      justify-content: center;
      align-items: center;
      border: none;
    }

    li {
      @include transition();
      font-size: 0;
    }

    li.page_item,
    li.menu-item {
      display: inline-block;
      line-height: 0;
      // height: 0;
      // @include min-tablet {
      //   margin-right: 40px;
      // }
      @include macbook {
        margin-bottom: 15px;
        line-height: 1.5;
      }
      a {
        letter-spacing: 3.1px;
        display: inline-block;
        @include transition();
        // font-size: $body;
        padding-bottom: 7px;
        color: #fff;

        font-size: 0;
        padding: 0;
        @include macbook {
          font-size: $body;
          opacity: 0.3;
        }
      }

      &.current_page_item {
        a {
          border-bottom: solid 2px #9b7e2f;
        }
      }
    }
    li.no-click {
      a {
        pointer-events: none;
        opacity: 0.16;
      }
    }
    li.menu-item.see-examples {
      height: auto;
      text-align: center;
      a {
        font-size: $body;
        color: $black;
        opacity: 1;
        padding: 20px 65px;
        // opacity: 0.16;
        @include macbook {
          color: $white;
          opacity: 0.16;
        }
      }
    }
    @include macbook {
      li.online {
        a {
          opacity: 0.68;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

// nav.active {
nav:hover {
  ul {
    // padding: 25px 50px;
    padding-bottom: 15px;
    background: $brown;
    border-color: $brown;
    li.page_item,
    li.menu-item {
      line-height: 1.5;
      // padding: 0px 25px;
      // padding-left: 25px;
      height: auto;
      a {
        font-size: $body;
        opacity: 0.3;
        padding: 5px 40px;
      }
    }
    li.menu-item.see-examples {
      a {
        color: $white;
        opacity: 0.16;
      }
    }
    li.online {
      a {
        opacity: 0.68;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
